body {
    background: #dfdfdf;
    color: #666;
    font: 14px/24px sans-serif;
}

#container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}


.nav {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.nav > li {
  float: left;
}

.nav li a.disabled {
  cursor: default;
  color: #bbb; 
}

.nav li a
{
  line-height: 3em;
  padding: 0 10px;
  margin-right: 4px;
  text-decoration: none;
  white-space: normal;
  outline: none;
  cursor: pointer;
}
.nav li a.el,
.nav li span.el
{

  -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
  border: solid 1px gray;
  margin-right: 4px;
  padding: 0;
  line-height: 3em;
  text-align: center;
  width: 34px;
}

.nav > li:hover > a, 
.nav > a:hover {
  background-color: #f55856;
  color: #fff;
}

.nav > li.remote:hover > a
{ 
  background: #e9e9e9;
  color: #717171; 
}

.page {
    display: inline-block;
    background: #e9e9e9;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171; 
}

.page.active {
    border: none;
    background: #616161;
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

#page {
  height: 50px;
}
